@import "mocha.css";

* {
    font-family: "MesloLGS Nerd Font Mono Bold";
    font-size: 16px;
    min-height: 0;
    font-weight: bold;
}

window#waybar {
    background: transparent;
    background-color: @crust;
    color: @overlay0;
    transition-property: background-color;
    transition-duration: 0.1s;
}

#window {
margin: 8px;
padding-left: 8px;
padding-right: 8px;
}

button {
    box-shadow: inset 0 -3px transparent;
    border: none;
    border-radius: 0;
}

button:hover {
    background: inherit;
    color: @mauve;
    border-top: 2px solid @mauve;
}

#workspaces button {
padding: 0 4px;
}

#workspaces button.focused {
background-color: rgba(0, 0, 0, 0.3);
color: @rosewater;
border-top: 2px solid @rosewater;
}

#workspaces button.active {
background-color: rgba(0, 0, 0, 0.3);
color: @mauve;
border-top: 2px solid @mauve;
}

#workspaces button.urgent {
background-color: #eb4d4b;
}

#pulseaudio,
#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#custom-brightness,
#custom-keyboard,
#wireplumber,
#network,
#mode,
#scratchpad {
    padding: 0 6px 4px 6px;
    box-shadow: inset 0 -3px transparent;
    transition: box-shadow 0.2s ease-in-out;
}

#workspaces button {
    padding: 0 4px;
}

#workspaces button.focused {
    background-color: rgba(0, 0, 0, 0.3);
    color: @rosewater;
    border-top: 2px solid @rosewater;
}

#workspaces button.active {
    background-color: rgba(0, 0, 0, 0.3);
    color: @mauve;
    border-top: 2px solid @mauve;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left>widget:first-child>#workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right>widget:last-child>#workspaces {
    margin-right: 0;
}

#clock {
    color: @maroon;
    box-shadow: inset 0 -3px @maroon;
}

#pulseaudio {
    color: @blue;
    box-shadow: inset 0 -3px @blue;
}

#network {
    color: @yellow;
    box-shadow: inset 0 -3px @yellow;
}

#battery {
    color: @green;
    box-shadow: inset 0 -3px @green;
}

#custom-brightness {
    color: @peach;
    box-shadow: inset 0 -3px @peach;
}

#custom-keyboard {
    color: @teal;
    box-shadow: inset 0 -3px @teal;
}

#pulseaudio:hover,
#clock:hover,
#battery:hover,
#network:hover,
#custom-brightness:hover,
#custom-keyboard:hover {
    box-shadow: inset 0 -5px currentColor;
}

#tray {
    padding-left: 6px;
    padding-right: 6px;
    min-height: 24px;
}

#tray > .item {
    margin: 0 6px;       /* distanza tra le icone */
}
